/* --------------------------------------------------------------------------------Header-------------------- */
header h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: black;
  margin: 10px;
}

/* ------------------------------------------------------------------------------------Navegador------------------------- */
nav {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0px 2px;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


/*--------------------------------------------------------------------------- Contenido principal del BASE.html------------------------------------------------------------------------------- */
main {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
}


/* ---------------------------------------------------------------------------------------Botón toggleInfo y InfoExtra--------------------------------------------------------------------------------------------- */

#toggleInfo {
  background-color: #063561;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;

}

#toggleInfo:hover {
  background-color: #2d84a7;
  cursor: pointer;

}

#infoExtra {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-left: 4px solid #207979;
  border-radius: 4px;
  display: none;
  font-size: 14px;
  color: #333;
}


/* --------------------------------------------------------------- PANEL DE MENÚ PRINCIPAL ---------------------------------------------------------------------------------------- */

.menu-principal {
  text-align: center;
  padding: 2rem 0;
}

.menu-principal h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #003366;
}

.cajas-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.categoria {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  flex: 1 1 260px;
  max-width: 300px;
  box-sizing: border-box;
}

.categoria h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #4CAF50;
}

.categoria ul {
  list-style: none;
  padding-left: 0;
}

.categoria li {
  margin-bottom: 0.5rem;
}

.categoria a {
  color: #003366;
  text-decoration: none;
  font-weight: 500;
}

.categoria a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------LISTADO DE EMPLEADOS---------------------------------------------------------- */


h1 {
  color: #333;
}

table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

/*-------------------------------------------------------------------Detalles Views-----------------------------------------------------------------------------------------------------------------------------*/
.card {
  background-color: #ffffff;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  color: #050505;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 10px;
  font-size: 16px;
}

.card li strong {
  width: 100px;
  display: inline-block;
  color: #34495e;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
  cursor: pointer;
}


/* --------------------------------------------------------------- CREAR/MODIFICAR_EMPLEADO/EQUIPO/TICKET ----------------------------------------------------------------------------------------------------- */

.modificar-equipo,
.modificar-empleado,
.modificar-ticket,
.crear-equipo,
.crear-ticket,
.crear-empleado {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modificar-equipo h2,
.modificar-empleado h2,
.modificar-ticket h2,
.crear-equipo h2,
.crear-ticket h2,
.crear-empleado h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0a3d62;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}


form textarea,
form input,
form select,
form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form button:hover {
  background-color: #254450;
  color: white;
  cursor: pointer;
}


/* ---------------------------------------------------------------------------------------Footer--------------------------------------------------------------------------------------------- */

html,
body {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #f7f7f7;
}


footer {
  background-color: #0a3d62;
  color: white;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-top: auto;
  box-sizing: border-box;
}


.contenedor-footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacto h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.contacto p {
  margin-bottom: 6px;
}

.derechos {
  max-width: 960px;
  margin: 12px auto 0 auto;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}