{% extends 'Base.html' %}

{% block title %} Detalles empleado {% endblock %}
{% block content %}
<div class="card">
<h2> Detalles del empleado '{{empleado.nombre}} {{empleado.apellidos}}'</h2>

<ul>

    <li><strong>Nombre:</strong> {{empleado.nombre}}
    <li>
    <li><strong>Apellidos:</strong> {{empleado.apellidos}}
    <li>
    <li><strong>Email:</strong> {{empleado.email}}
    <li>
    <li><strong>Telefono:</strong> {{empleado.telefono}}
    <li>
    <li><strong>Dni:</strong> {{empleado.dni}}
    <li>
</ul>
  <a class="btn" href="{% url 'home' %}">Volver</a>
</div>
{% endblock %}