{% extends 'base.html' %}
{% block title %}Página principal{% endblock %}

{% block content %}
<section class="menu-principal">
    <h2>Panel de Gestión</h2>
    <div class="cajas-menu">
        <div class="categoria">
            <h3>👷 Empleados</h3>
            <ul>
                <li><a href="{% url 'lista-empleados' %}">Lista de empleados</a></li>
                <li><a href="{% url 'crear-empleado' %}">Crear empleado</a></li>
            </ul>
        </div>
        <div class="categoria">
            <h3>🖥️ Equipos</h3>
            <ul>
                <li><a href="{% url 'lista-equipos' %}">Lista de equipos</a></li>
                <li><a href="{% url 'crear-equipo' %}">Crear equipo</a></li>
            </ul>
        </div>
        <div class="categoria">
            <h3>🧾 Tickets</h3>
            <ul>
                <li><a href="{% url 'lista-tickets' %}">Lista de tickets</a></li>
                <li><a href="{% url 'crear-ticket' %}">Crear ticket</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
