{% extends 'base.html' %}
{% block title %} Listado de Empleados {% endblock %}
{% block content %}


<img src="" alt="Logo" class="header-icon">
<h1>⚙️Gestor - Aerotech S. L.⚙️</h1>

<a href="{% url 'lista-empleados' %}"> Lista de empleados </a><br>
<a href="{% url 'crear-empleado' %}"> Crear empleado </a><br><br><br>
<a href="{% url 'lista-equipos' %}"> Lista de equipos </a><br><br><br>
<a href="{% url 'crear-equipo' %}"> Crear equipo </a><br><br><br>
<a href="{% url 'crear-ticket' %}"> Crear ticket </a><br><br><br>
<a href="{% url 'lista-tickets' %}"> Lista de tickets </a><br><br><br>

{% endblock %}