{% extends 'base.html' %}
{% block title %}Listado de Equipos{% endblock %}

{% block content %}

<h1>Lista de Equipos</h1>

<table>
    <thead>
        <tr>
            <th>Número de Serie</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Fecha de Adquisición</th>
            <th>Fecha de Puesta en Marcha</th>
            <th>Proveedor</th>
            <th>Teléfono</th>
            <th>Planta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
        <tr>
            <td>{{ equipo.numero_serie }}</td>
            <td>{{ equipo.modelo }}</td>
            <td>{{ equipo.marca }}</td>
            <td>{{ equipo.tipo }}</td>
            <td>{{ equipo.fecha_adquisicion }}</td>
            <td>{{ equipo.fecha_puesta_marcha }}</td>
            <td>{{ equipo.proveedor_nombre }}</td>
            <td>{{ equipo.proveedor_telefono }}</td>
            <td>{{ equipo.planta }}</td>
            <td>
                <a href="{% url 'detalles-equipo' equipo.id %}">Detalles</a> |
                <a href="{% url 'eliminar-equipo' equipo.id %}">Borrar</a> |
                <a href="{% url 'modificar-equipo' equipo.id %}">Modificar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">No hay equipos disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'home' %}">Volver</a>

{% endblock %}
