<!doctype html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>⚙️Gestor - Aerotech S.L⚙️</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
</head>

<body>
    <header>
        <h1>Aerotech Gestiones</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            {% if request.session.empleado_id %}
                <li><a href="{% url 'lista-empleados' %}">Empleados</a></li>
                <li><a href="{% url 'lista-equipos' %}">Equipos</a></li>
                <li><a href="{% url 'lista-tickets' %}">Tickets</a></li>
                <li><a href="{% url 'logout-empleado' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login-empleado' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/scripts.js' %}"></script>

   <footer>
    <div class="contenedor-footer">
        <div class="contacto">
            <h2>Aerotech</h2>
            <p>Email: contacto@aerotech.com</p>
            <p>Teléfono: (+34) 945 454 569</p>
            <p>Dirección: Calle Industria 12, Vitoria-Gasteiz</p>
        </div>

        <div class="enlaces">
            <h2>Enlaces útiles</h2>
            <ul>
                <li><a href="{% url 'lista-empleados' %}">Empleados</a></li>
                <li><a href="{% url 'lista-equipos' %}">Equipos</a></li>
                <li><a href="{% url 'lista-tickets' %}">Tickets</a></li>
            </ul>
        </div>

        <div class="legal">
            <h2>Legal</h2>
            <ul>
                <li><a href="https://www.privacypolicies.com/live/9d6de6b4-80f4-40c6-9232-d4abdc58b8f9" target="_blank">Política de privacidad</a></li>
                <li><a href="https://www.termsfeed.com/live/2b4e7f90-3e99-4a44-8cc5-739e8aa362a6" target="_blank">Términos de uso</a></li>
                <li><a href="https://www.avisolegal.com/ejemplo-aviso-legal" target="_blank">Aviso legal</a></li>
            </ul>
        </div>
    </div>

    <div class="derechos">
        <p>&copy; 2025 Aerotech. Todos los derechos reservados.</p>
    </div>
</footer>



</body>

</html>