{% extends 'Base.html' %}
{% block title %}Crear empleado{% endblock %}

{% block content %}

<div class="crear-empleado">
  <h2>Crear nuevo empleado</h2>

  <form class="Form" action="{% url 'crear-empleado' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="errores"></div>
    <button  type="submit">Crear</button>
  </form>

  <button id="toggleInfo">Mostrar información adicional</button>
  <div id="infoExtra">
    <p>Recuerda que los empleados deben tener un DNI válido y un nombre apropiado.</p>
  </div>

  <a class="btn" href="{% url 'home' %}">Volver</a>
</div>


{% if messages %}
  <div class="mensajes">
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}