{% extends 'Base.html' %}

{% block title %} Detalles empleado {% endblock %}
{% block content %}
<div class="card">
  <h2> Detalles del empleado '{{empleado.nombre}} {{empleado.apellidos}}'</h2>

  <ul>

    <li><strong>Nombre:</strong> {{empleado.nombre}}
    <li>
    <li><strong>Apellidos:</strong> {{empleado.apellidos}}
    <li>
    <li><strong>Email:</strong> {{empleado.email}}
    <li>
    <li><strong>Telefono:</strong> {{empleado.telefono}}
    <li>
    <li><strong>Dni:</strong> {{empleado.dni}}
    <li>
    <li><strong>Tickets:</strong>
      <ul>
        {% for ticket in empleado.ticket_set.all %}
        <li>
          <a href="{% url 'detalle-ticket' ticket.id %}">{{ ticket.titulo }}</a>
          ({{ ticket.estado }})
        </li>
        {% empty %}
        <li>
          No tiene tickets asignados.
        </li>
        {% endfor %}
      </ul>
    </li>
    <li>
  </ul>
  <a class="btn" href="{% url 'lista-empleados' %}">Volver</a>
</div>
{% endblock %}