{% extends 'Base.html' %}

{% block title %} Detalles ticket {% endblock %}

{% block content %}
<div class="card">

    <h2>Detalles del ticket '{{ ticket.titulo }} - {{ ticket.referencia }}'</h2>

    <ul>
        <li><strong>Referencia:</strong> {{ ticket.referencia }}</li>
        <li><strong>Título:</strong> {{ ticket.titulo }}</li>
        <li><strong>Descripción:</strong> {{ ticket.descripcion }}</li>
        <li><strong>Fecha de apertura:</strong> {{ ticket.fecha_apertura }}</li>
        <li><strong>Fecha de resolución:</strong> {{ ticket.fecha_resolucion|default:"Pendiente" }}</li>
        <li><strong>Urgencia:</strong> {{ ticket.get_urgencia_display }}</li>
        <li><strong>Tipo:</strong> {{ ticket.get_tipo_display }}</li>
        <li><strong>Estado:</strong> {{ ticket.get_estado_display }}</li>
        <li><strong>Empleado asignado:</strong>
            {% if ticket.empleado %}
            <a href="{% url 'detalles-empleado' ticket.empleado.id %}">
                {{ ticket.empleado.nombre }} {{ ticket.empleado.apellidos }}
            </a>
            {% else %}
            No asignado
            {% endif %}
        </li>
        <li><strong>Equipos:</strong>
            <ul>
                {% for equipo in empleado.equipos_asignados.all %}
                <li>
                    <a href="{% url 'detalles-equipo' equipo.id %}">
                        {{ equipo.modelo }} - {{ equipo.numero_serie }}
                    </a>
                </li>
                {% empty %}
                <li>No tiene equipos asignados.</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <a class="btn" href="{% url 'lista-tickets' %}">Volver</a>
</div>
{% endblock %}