{% extends 'base.html' %}
{% load static %}

{% block title %}Listado de Tickets{% endblock %}

{% block content %}

<h1>Listado de Tickets de mantenimiento</h1>

<form method="get" class="mb-3">
  <label>Estado:</label>
  <select name="estado">
    <option value="">Todos</option>
    {% for estado in estados %}
    <option value="{{ estado }}" {% if request.GET.estado==estado %}selected{% endif %}>{{ estado }}</option>
    {% endfor %}
  </select>
  <button type="submit">Buscar</button>
  <a href="{% url 'lista-tickets' %}">Limpiar</a>
</form>

<table>
  <thead>
    <tr>
      <th>Referencia</th>
      <th>Título</th>
      <th>Estado</th>
      <th>Tipo</th>
      <th>Urgencia</th>
      <th>Fecha Apertura</th>
      <th>Fecha Resolución</th>
      <th>Acciones</th>
      <th>Cambio de Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr id="ticket-{{ ticket.id }}">
      <td>{{ ticket.referencia }}</td>
      <td>{{ ticket.titulo }}</td>
      <td class="estado">{{ ticket.estado }}</td>
      <td>{{ ticket.tipo }}</td>
      <td>{{ ticket.urgencia }}</td>
      <td>{{ ticket.fecha_apertura }}</td>
      <td>{{ ticket.fecha_resolucion }}</td>
      <td> <a href="{% url 'detalle-ticket' ticket.id %}">Detalles</a> |
        <a href="{% url 'eliminar-ticket' ticket.id %}">Borrar</a> |
        <a href="{% url 'modificar-ticket' ticket.id %}">Modificar</a>
      </td>
      <td>
        <button type="button" onclick="cambiarEstado({{ ticket.id }})">
          {% if ticket.estado == 'abierto' %}
          Cambiar a cerrado
          {% else %}
          Cambiar a abierto
          {% endif %}
        </button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No se encontraron tickets con ese estado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn" href="{% url 'home' %}">Volver</a>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}