{% extends 'base.html' %}
{% block title %}Listado de Equipos{% endblock %}

{% block content %}

<h1>Lista de Equipos</h1>

<!-------------------------------------------------------------------- FORMULARIO DE FILTRO ------------------------------------------------->
<h2>Buscar Equipos</h2>
<form method="get" class="mb-3">
  <label>Marca:</label>
  <select name="marca">
    <option value="">Todas las marcas</option>
    {% for marca in marcas %}
    <option value="{{ marca }}" {% if request.GET.marca == marca %}selected{% endif %}>{{ marca }}</option>
    {% endfor %}
  </select>

  <label>Tipo:</label>
  <select name="tipo">
    <option value="">Todos los tipos</option>
    {% for tipo in tipos %}
    <option value="{{ tipo }}" {% if request.GET.tipo == tipo %}selected{% endif %}>{{ tipo }}</option>
    {% endfor %}
  </select>

  <button type="submit">Buscar</button>
  <a href="{% url 'lista-equipos' %}">Limpiar</a>
</form>

<!-------------------------------------------------------------------------------TABLA FILTRADA ---------------------------------------------------------------------------------->

<div class="lista_informacion">
  <table>
    <thead>
      <tr>
        <th>Número de Serie</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Fecha de Adquisición</th>
        <th>Fecha de Puesta en Marcha</th>
        <th>Planta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for equipo in equipos %}
      <tr>
        <td>{{ equipo.numero_serie }}</td>
        <td>{{ equipo.modelo }}</td>
        <td>{{ equipo.marca }}</td>
        <td>{{ equipo.tipo }}</td>
        <td>{{ equipo.fecha_adquisicion|date:"d/m/y" }}</td>
        <td>{{ equipo.fecha_puesta_marcha|date:"d/m/y" }}</td>
        <td>{{ equipo.planta }}</td>
        <td>
          <a href="{% url 'detalles-equipo' equipo.id %}">Detalles</a> |
          <a href="{% url 'eliminar-equipo' equipo.id %}">Borrar</a> |
          <a href="{% url 'modificar-equipo' equipo.id %}">Modificar</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No se encontraron equipos con esos filtros.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<a class="btn" href="{% url 'home' %}">Volver</a>



{% endblock %}